<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>Suhaas Vellanki</title>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a class = "navText" href="/">Landing</a>
      <a class = "navText" href="/portfolio">My Work</a>
      <a class = "navText" href="/contact">Contact Me</a>
    </div>
    
    
    <!-- Animated Hamburger Menu -->
    <div class="menu-icon" id ="test" onclick="toggleNav()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    

    
    <section id="sec1">
      <div id="name">
        <h1>Suhaas Vellanki</h1>
        <p id="belowText" class="hidden-text">.</p>
      </div>
      <!--<img id="mountain" src="../static/images/mountain.png" alt="Background Mountain">-->
    
      
      
      <div class="parallax-container">
        <img class="parallax-layer" id="layer1" src="../static/images/mountain-bg1.png" alt="Layer 1">
        <img class="parallax-layer" id="layer2" src="../static/images/mountain-bg2.png" alt="Layer 2">
        <img class="parallax-layer" id="layer3" src="../static/images/mountain-bg3.png" alt="Layer 3">
        <img class="parallax-layer" id="layer4" src="../static/images/mountain-bg4.png" alt="Layer 4">
        <img class="parallax-layer" id="layer5" src="../static/images/mountain-bg5.png" alt="Layer 5">
        <img class="parallax-layer" id="layer6" src="../static/images/mountain-bg5.png" alt="Layer 6">
        <img class="parallax-layer" id="layer7" src="../static/images/mountain-bg5.png" alt="Layer 7">
        <img class="parallax-layer" id="layer8" src="../static/images/mountain-bg5.png" alt="Layer 8">
      </div>
      
      
    </section>
    <section id = "sec2">
      
      <img id="grass" src="../static/images/grass.png" alt="grass">
    </section>
    
    <script src="../static/js/script.js"></script>
    
  </body>
  
</html>